.Procedure {
  text-align: center;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  border-radius: 10px;
  /* background-color: #F5F6FF; */
  background-color: white;
  height: 300px;
  margin-top: 30px;
  margin-left: 30px;
  margin-bottom: 10px;
  color: #322A7C;
  font-family: 'Baloo Tamma 2', cursive;
  font-size: x-large;
  padding-top: 20px;
  padding-bottom: 25px;
}

.Explanation {
  width: 80%;
  font-size: large;
  margin: 0 auto;
  color: black;

}